Flask==1.1
werkzeug==0.15.5
gunicorn==19.5
psycopg2==2.8.3
Flask-SQLAlchemy==2.1
SQLAlchemy==1.2.0
SQLAlchemy-Utils==0.32.6
pytest==2.9
pytest-cov==2.2
flake8==2.5
Click==6.4
flask-classful==0.14
flask-marshmallow==0.7.0
marshmallow==2.15.1
flask-jwt-extended==3.3
flask-debugtoolbar==0.10.0
pytz==2017.3
faker==0.8.7
flask_bcrypt
flask_login
wtforms_alchemy
flask_wtf
python-dotenv
