{% extends "layout/base.html" %}
{% from 'macros.html' import render_field %}
{% block title %}Update Contact{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Update Contact</h1>
<form method=post action="">
  <dl>
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.role) }}
    {{ render_field(form.mobile) }}
    {{ render_field(form.org_id) }}
  </dl>
  <p><input type=submit value=Update>
</form>
{% endblock %}